h1 {
    font-family: serif;
    font-weight: lighter;
    font-size: 100%;
    text-align: center;
    color: rgb(103, 179, 103);
    background-color: white;
}

#my-name {
    font-size: 200%;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(103, 179, 103);
    background-color: white;
}

body {
    background-color: #FDFEFE;
}

nav {
    width: 100%;
}

main {
    text-align: center;
    margin: 20;
    background-color: white;
}

ul {
    text-align: right;
    padding-left: 0px;
    list-style: none;

}

footer {
    text-align: center;
    padding-left: 0px;
    list-style: none;
    font-family: monospace;
    color: pink
}

li {
    display: inline;
    margin: len;
    color: MediumSeaGreen;
    font-family: monospace;
}

.short-bio {
    padding: 3em;
    border-top-style: solid;
    border-top-color: rgb(94, 145, 94);
    border-top-width: 10px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.footer-connected {
    font-family: monospace;
    color: mediumseagreen;
    text-align: center;
}

a {
    color: MediumSeaGreen;
}

a:hover {
    color: lightpink;
}

a:link {
    text-decoration: none;
}

img {
    width: 20%;
}